name: "Push the master branch to pypi when develop is merged to master and version is changed"

on:
  push:
    branches:
      - develop
    # paths:
    #   - 'pip_package/tfacon_pip/__init__.py'

jobs:
  deploy_pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build
          python -m pip install --upgrade twine
          pip install setuptools wheel twine
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_DNO_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_DNO_PASSWORD }}
        run: |
          cd pip_package/
          python -m build
          python -m twine upload dist/* --verbose